@charset "utf-8";

.slideshow-container {
  position: relative;
  width: 100%;
  height:auto;
  flex: 2 2 20em;
  display: flex;

  
  
   
}

slideshow-container.img {
 
  width: 50%;
  height: 900px;
   flex:: 2 2 20em;
  display: flex;
  
  
   
}

.image {
  opacity: 1;
  
  width: 100%;
  height: auto;
  flex: 2 2 20em;
  display: flex;
  
  
  transition: .5s ease;
  backface-visibility: hidden;
  
}

.titleTop {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  flex: 2 2 20em;
  display: flex;
}



.authorBot {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.slideshow-container:hover .image {
  opacity: 0.3;
}

.slideshow-container:hover .titleTop, .slideshow-container:hover .authorBot {
  opacity: 1;
}

.titleText {
  background-color: white;
  font-family: Futura;
  color: black;
  font-size: 5.25em;
  padding: 6px 20px 6px 20px;
  font-weight: bolder;
  text-align:  center;
  font-style: italic;
    
}


.titleText.emma {
  
  font-size: 3.25em;
  
    
}

.authorText {
  background-color: white;
  font-family: Futura;
  color: black;
  font-size: 25px;
  padding: 6px 10px 6px 10px;
  font-weight: bold;
}

.responsive {
  width: 100%;
  height: 420px;
  padding: none;
  margin: none;
  flex: 2 2 20em;
  display: flex;
  
}

.active {
  background-color: rgb(205, 92, 92);
}
	

