@charset "utf-8";

body > header > img {
	display: block;
	width: 100%;
	filter: hue-rotate(340deg);
	filter: saturate(120%);
}

body > header > nav#topLinks {
	background-color: rgb(150, 0, 24);
	color: white;
	line-height: 1.7em;
	text-align: right;
	padding: 5px 10px 5px 0px;
}

nav#topLinks a:link, nav#topLinks a:visited {
	color: white;
}

nav#topLinks a:hover, nav#topLinks a:active {
	color: rgb(66, 13, 9);
}

nav#mainLinks ul li {

}
nav#mainLinks ul li {
		display: block;
		width: 25%;
		background-color: rgb(178, 34, 34);
		
		float: left;
		text-align: center;

		border-bottom: solid 2px black;
		border-top:  solid 2px black;
	}

nav#mainLinks ul li:first-of-type {
	border-left: solid 1px black;
}

nav#mainLinks ul li:last-of-type {
	border-right: solid 1px black;
}

 div a, .dropdown {
	background-color: rgb(178, 34, 34);
	width: 20%;
 }

nav#mainLinks div {
	
	
}



nav#mainLinks a, .dropdown-content a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 3px 16px;
  text-decoration: none;
  
}

nav#mainLinks a, .dropdown-content a{
	color: white;	
	display: block;
	height: 2.5em;	
	text-align: center;
	line-height: 2.5em;
}

nav#mainLinks a:link, nav#mainLinks a:visited {
	color: white;
}

nav#mainLinks a:hover, nav#mainLinks a:active {
	background-color: rgb(205, 92, 92);
}

.dropdown div a{
	background-color: rgb(146, 34, 34);
	width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 206px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: 206px;
}


main.responsive{  resize: vertical; display:flex;}

article{  resize: vertical; display:flex;}

input[type=text], select, textarea {
  /*width: 100%;*/
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #c82222;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #e12222;
}

article.item3{width: 100%;}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  height: 100%;
  resize: vertical;
  display:flex;
}


textarea#title{height: 20%;}

textarea#entry{height: 60%;}

textarea#date{height: 20%;}