@charset "utf-8";

/*
 
   
   Filename: tb_visual3.css

*/

/* HTML Styles */

html{
	background: linear-gradient(rgba(228,233,238,1),rgba(255,255,255,1.0),rgba(228,233,238,1));
	
	
}





body{
	
	box-shadow: rgb(53, 21, 0) 25px 0px 35px,
				rgb(53, 21, 0) -25px 0px 35px;
}



main{
	
	box-shadow: rgb(71, 71, 71) -10px -10px 25px,
				rgb(71, 71, 71) 10px 10px 25px;
}


main h1{
	text-shadow: rgb(221, 221, 221) 1px 1px,
				rgba(41, 41, 41, 0.9) 5px 5px 20px;
}

figure figcaption{
	font-family: "Palatino Linotype", Palatino, 
	             "Times New Roman", serif;
	font-style: italic;
	padding: 10px 0px;
	text-align: center;
}



footer{
	background: linear-gradient(325deg, rgb(180, 0, 0) 20%, rgb(40, 33, 23) 60%);
}

























