@charset "utf-8";

main nav.item2{ 
	
	width:auto;
	height:70px;
	display:flex;
	background-color: red;
	padding: 0px 0px 0px 0px;
	flex: 2 2 20em;
}



main ul li{ 
	
	color:(0,0,0,1.0);
	display: flex;
	width: auto;
	height:100%;
	border: solid 2px black;
	background-color: white;
	padding: 10px 50px 10px 50px;
	margin: none;
	text-align: center;
	height: 100%;
	font-family: Futura;
	font-size: 1.75em;
	font-weight:bolder;
	font-style:italic;
	text-decoration: none;
	
	
	
}





main ul li a{ 
	
	color:black;
}

main ul li a:hover{ 
	
	color:black;
		
	
}




main ul li a:visited{ 
	
	color:black;
		
	
}


