@charset "utf-8";

@font-face {
	font-family: Verdana;
	/*src: url(cac_champagne.woff) format('woff'),
	     url(cac_champagne.ttf) format('ttf');*/
}

div.storyBody::first-letter {
  font-size: 500%;
  color: #0;
  line-height: 1;
  font-weight: bold;
  float: left;
}

div.storyTitle{
	font-family: Geneva, Arial, sans-serif; 
	font-weight: bold;
	text-align: center;
	font-size: 500%;
}

div.authorTitle{
	font-family: Geneva, Arial, sans-serif; 
	font-weight: bold;
	text-align: center;
	font-size: 150%;
	font-style: italic;
}

div.storyBody{
	font-size:125%;
	font-family: Geneva, Arial, sans-serif; 
	line-height: 1.25;
}

img {
	width: 100%;
}



article {
	background-color: white;
}

main {
	display: flex;
	flex: 2 2 20em;
}



div.copyright {
	font-size: 300%;
	text-align: right;
	padding-right:30px;
}